In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

### First, let's import the stop_times file

In [2]:
stop_times = pd.read_csv("stop_times.txt")
stop_times = stop_times.rename(columns = {"stop_headsign":"destination"})
stop_times = stop_times.drop(["pickup_type", "drop_off_type", "shape_dist_traveled"], axis=1)
stop_times

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,destination
0,7712.y1009.60-1-d12-1.1.O,18:40:00,18:40:00,8240DB000226,1,Sandymount
1,7712.y1009.60-1-d12-1.1.O,18:40:44,18:40:44,8220DB000228,2,Sandymount
2,7712.y1009.60-1-d12-1.1.O,18:41:21,18:41:21,8240DB000229,3,Sandymount
3,7712.y1009.60-1-d12-1.1.O,18:42:20,18:42:20,8240DB000227,4,Sandymount
4,7712.y1009.60-1-d12-1.1.O,18:42:58,18:42:58,8240DB000230,5,Sandymount
...,...,...,...,...,...,...
1874914,6667.y1003.60-H9-b12-1.97.I,08:03:12,08:03:12,8220DB000619,16,Abbey Street
1874915,6667.y1003.60-H9-b12-1.97.I,08:03:50,08:03:50,8220DB000675,17,Abbey Street
1874916,6667.y1003.60-H9-b12-1.97.I,08:05:22,08:05:22,8220DB000620,18,Abbey Street
1874917,6667.y1003.60-H9-b12-1.97.I,08:06:35,08:06:35,8220DB007569,19,Abbey Street
1874918,6667.y1003.60-H9-b12-1.97.I,08:08:47,08:08:47,8220DB007591,20,Abbey Street

### And the stops file

In [3]:
stops_df = pd.read_csv("stops.txt")
stops_df = stops_df.rename(columns = {'stop_lat': 'latitude', 
                                      "stop_lon": "longitude"})
stops_df

           stop_id                      stop_name   latitude  longitude
0     8220DB000002    Parnell Square West, stop 2  53.352244  -6.263723
1     8220DB000003    Parnell Square West, stop 3  53.352309  -6.263811
2     8220DB000004    Parnell Square West, stop 4  53.352575  -6.264175
3     8220DB000006    Parnell Square West, stop 6  53.352749  -6.264454
4     8220DB000007    Parnell Square West, stop 7  53.352841  -6.264570
...            ...                            ...        ...        ...
4203  8350DB007461         Charlesland, stop 7461  53.128932  -6.062803
4204  8350DB007462         Charlesland, stop 7462  53.128801  -6.062480
4205  8350DB007574      Southern Cross, stop 7574  53.182348  -6.130064
4206  8350DB007823  Enniskerry Village, stop 7823  53.194198  -6.170184
4207  8530DB007824  Enniskerry Village, stop 7824  53.192558  -6.171137

[4208 rows x 4 columns]

### Merging the two files

In [4]:
merged_df = pd.merge(stop_times, stops_df, left_on='stop_id', right_on='stop_id')
merged_df

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,destination,stop_name,latitude,longitude
0,7712.y1009.60-1-d12-1.1.O,18:40:00,18:40:00,8240DB000226,1,Sandymount,"Shanard Avenue, stop 226",53.391141,-6.262200
1,7728.y1009.60-1-d12-1.1.O,20:00:00,20:00:00,8240DB000226,1,Sandymount,"Shanard Avenue, stop 226",53.391141,-6.262200
2,7742.y1009.60-1-d12-1.1.O,19:40:00,19:40:00,8240DB000226,1,Sandymount,"Shanard Avenue, stop 226",53.391141,-6.262200
3,7757.y1009.60-1-d12-1.1.O,20:20:00,20:20:00,8240DB000226,1,Sandymount,"Shanard Avenue, stop 226",53.391141,-6.262200
4,7769.y1009.60-1-d12-1.1.O,19:20:00,19:20:00,8240DB000226,1,Sandymount,"Shanard Avenue, stop 226",53.391141,-6.262200
...,...,...,...,...,...,...,...,...,...
1874914,7119.y1005.60-65-b12-1.263.I,08:50:39,08:50:39,8230DB002358,38,Poolbeg St,"Killinarden, stop 2358",53.280704,-6.389614
1874915,343.y1003.60-65-b12-1.263.I,06:49:58,06:49:58,8230DB002358,38,Poolbeg St,"Killinarden, stop 2358",53.280704,-6.389614
1874916,304.y1003.60-65-b12-1.263.I,18:51:31,18:51:31,8230DB002358,38,Poolbeg St,"Killinarden, stop 2358",53.280704,-6.389614
1874917,349.y1003.60-65-b12-1.263.I,17:54:25,17:54:25,8230DB002358,38,Poolbeg St,"Killinarden, stop 2358",53.280704,-6.389614
1874918,7134.y1005.60-65-b12-1.263.I,17:23:03,17:23:03,8230DB002358,38,Poolbeg St,"Killinarden, stop 2358",53.280704,-6.389614

In [5]:
# function to find and append the irish name for the stop
def agus_ainm(row, first_list, filtered_list):
    if row['stop_id'] in filtered_list:
        item = first_list[filtered_list.index(row['stop_id'])]
        return item[1]

In [6]:
# we need some gtfs_data from an extra file containing more info per each stop
all_routes_sequences = pd.read_csv("route_seqs.csv")
db_routes_sequences = all_routes_sequences[all_routes_sequences["Operator"] == "DB"]
db_stops_filtered = db_routes_sequences[["AtcoCode", "ShortCommonName_ga"]]

In [7]:
first_list = [tuple(r) for r in db_stops_filtered.to_numpy()]
filtered_list = []
for item in first_list:
    filtered_list.append(item[0])

merged_df['ainm'] = merged_df.apply(agus_ainm, first_list=first_list, filtered_list=filtered_list, axis=1)

In [8]:
merged_df

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,destination,stop_name,latitude,longitude,ainm
0,7712.y1009.60-1-d12-1.1.O,18:40:00,18:40:00,8240DB000226,1,Sandymount,"Shanard Avenue, stop 226",53.391141,-6.262200,Ascail Sheanaird
1,7728.y1009.60-1-d12-1.1.O,20:00:00,20:00:00,8240DB000226,1,Sandymount,"Shanard Avenue, stop 226",53.391141,-6.262200,Ascail Sheanaird
2,7742.y1009.60-1-d12-1.1.O,19:40:00,19:40:00,8240DB000226,1,Sandymount,"Shanard Avenue, stop 226",53.391141,-6.262200,Ascail Sheanaird
3,7757.y1009.60-1-d12-1.1.O,20:20:00,20:20:00,8240DB000226,1,Sandymount,"Shanard Avenue, stop 226",53.391141,-6.262200,Ascail Sheanaird
4,7769.y1009.60-1-d12-1.1.O,19:20:00,19:20:00,8240DB000226,1,Sandymount,"Shanard Avenue, stop 226",53.391141,-6.262200,Ascail Sheanaird
...,...,...,...,...,...,...,...,...,...,...
1874914,7119.y1005.60-65-b12-1.263.I,08:50:39,08:50:39,8230DB002358,38,Poolbeg St,"Killinarden, stop 2358",53.280704,-6.389614,Cill an Ardáin
1874915,343.y1003.60-65-b12-1.263.I,06:49:58,06:49:58,8230DB002358,38,Poolbeg St,"Killinarden, stop 2358",53.280704,-6.389614,Cill an Ardáin
1874916,304.y1003.60-65-b12-1.263.I,18:51:31,18:51:31,8230DB002358,38,Poolbeg St,"Killinarden, stop 2358",53.280704,-6.389614,Cill an Ardáin
1874917,349.y1003.60-65-b12-1.263.I,17:54:25,17:54:25,8230DB002358,38,Poolbeg St,"Killinarden, stop 2358",53.280704,-6.389614,Cill an Ardáin
1874918,7134.y1005.60-65-b12-1.263.I,17:23:03,17:23:03,8230DB002358,38,Poolbeg St,"Killinarden, stop 2358",53.280704,-6.389614,Cill an Ardáin

### In order to make the correct modifications to the dataframe, we need to split it into the correct chunks. We only want the longest shape of each route. This will be easier with a cell containing the correct line_id per row

In [9]:
def line_id(row):
    shape_id = row['shape_id']
    line_id = shape_id.split('-')[1]
    return line_id


def shape_id(row):
    trip_id = row['trip_id']
    shape_strings = trip_id.split('.')
    shape_id = shape_strings[2] + '.' + shape_strings[3] + "." + shape_strings[4]
    return shape_id


def route_direction(row):
    trip_string = row['trip_id']
    direction = trip_string[-1]
    if direction == "O":
        return "outbound"
    if direction == "I":
        return "inbound"
    
    
# function for isolating the stop number for each row
def stop_number(row):
    stop_string = row['stop_name'].split(' ')
    if stop_string[-1].isdigit:
        return stop_string[-1]
    else:
        return "No stop number."

    
def stop_name(row):
    name = row["stop_name"].split(",")[0]
    return name

In [10]:
merged_df["shape_id"] = merged_df.apply(shape_id, axis=1)

In [11]:
merged_df["line_id"] = merged_df.apply(line_id, axis=1)

In [12]:
merged_df["direction"] = merged_df.apply(route_direction, axis=1)

In [13]:
merged_df["stop_num"] = merged_df.apply(stop_number, axis=1)

In [14]:
merged_df["stop_name"] = merged_df.apply(stop_name, axis=1)
merged_df

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,destination,stop_name,latitude,longitude,ainm,shape_id,line_id,direction,stop_num
0,7712.y1009.60-1-d12-1.1.O,18:40:00,18:40:00,8240DB000226,1,Sandymount,Shanard Avenue,53.391141,-6.262200,Ascail Sheanaird,60-1-d12-1.1.O,1,outbound,226
1,7728.y1009.60-1-d12-1.1.O,20:00:00,20:00:00,8240DB000226,1,Sandymount,Shanard Avenue,53.391141,-6.262200,Ascail Sheanaird,60-1-d12-1.1.O,1,outbound,226
2,7742.y1009.60-1-d12-1.1.O,19:40:00,19:40:00,8240DB000226,1,Sandymount,Shanard Avenue,53.391141,-6.262200,Ascail Sheanaird,60-1-d12-1.1.O,1,outbound,226
3,7757.y1009.60-1-d12-1.1.O,20:20:00,20:20:00,8240DB000226,1,Sandymount,Shanard Avenue,53.391141,-6.262200,Ascail Sheanaird,60-1-d12-1.1.O,1,outbound,226
4,7769.y1009.60-1-d12-1.1.O,19:20:00,19:20:00,8240DB000226,1,Sandymount,Shanard Avenue,53.391141,-6.262200,Ascail Sheanaird,60-1-d12-1.1.O,1,outbound,226
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1874914,7119.y1005.60-65-b12-1.263.I,08:50:39,08:50:39,8230DB002358,38,Poolbeg St,Killinarden,53.280704,-6.389614,Cill an Ardáin,60-65-b12-1.263.I,65,inbound,2358
1874915,343.y1003.60-65-b12-1.263.I,06:49:58,06:49:58,8230DB002358,38,Poolbeg St,Killinarden,53.280704,-6.389614,Cill an Ardáin,60-65-b12-1.263.I,65,inbound,2358
1874916,304.y1003.60-65-b12-1.263.I,18:51:31,18:51:31,8230DB002358,38,Poolbeg St,Killinarden,53.280704,-6.389614,Cill an Ardáin,60-65-b12-1.263.I,65,inbound,2358
1874917,349.y1003.60-65-b12-1.263.I,17:54:25,17:54:25,8230DB002358,38,Poolbeg St,Killinarden,53.280704,-6.389614,Cill an Ardáin,60-65-b12-1.263.I,65,inbound,2358
1874918,7134.y1005.60-65-b12-1.263.I,17:23:03,17:23:03,8230DB002358,38,Poolbeg St,Killinarden,53.280704,-6.389614,Cill an Ardáin,60-65-b12-1.263.I,65,inbound,2358

In [15]:
line_list = merged_df["line_id"].unique().tolist()
print(len(line_list))
print(line_list)

102
['1', '16', '16D', '33', '41', '41B', '41C', '41D', '44', '13', '11', '40', '40B', '40D', '122', '38', '38A', '38B', '38D', '53', '15A', '15B', '15D', '47', '56A', '61', '77A', '77X', '27', '120', '25', '25A', '25B', '25D', '26', '4', '66', '66A', '66B', '66E', '67', '7', '7A', '140', '155', '83', '83A', '9', '46A', '46E', '33E', '116', '37', '39', '39A', '70', '145', '33D', '7B', '7D', '32X', '41X', '84X', '142', '118', '25X', '39X', '66X', '67X', '27X', '44B', '14', '27B', '40E', '15', '150', '151', '33X', '51D', '68', '68A', '69', '69X', '123', '65', '65B', '68X', '49', '54A', '130', '27A', '6', 'H1', 'H2', 'H3', '42', '43', 'H9', '79', '79A', '84', '84A']

### We are also going to need an empty dataframe to add to

In [151]:
col_names =  ['destination', 'first_departure_schedule', 
              'stops', 'longitudes', 'latitudes', 'names', 
              'id', 'gach_ainm', 'line_id', 'direction']
  
final_df  = pd.DataFrame(columns = col_names)
final_df

Empty DataFrame
Columns: [destination, first_departure_schedule, stops, longitudes, latitudes, names, id, gach_ainm, line_id, direction]
Index: []

### The following functions will compile all the starting times of each route

In [152]:
def sorting_seconds(time_list):
    ftr = [3600, 60, 1]
    times_in_seconds = []

    for time in time_list:
        time_units = time.split(':')
        total_secs = (int(time_units[0]) * ftr[2]) + (int(time_units[1]) * ftr[1]) + (int(time_units[0]) * ftr[0])
        times_in_seconds.append(total_secs)

    times_in_seconds.sort() 
    return times_in_seconds

    
def to_timestamp(seconds):
    hour = 3600
    minute = 60

    hours = str(int(seconds/hour))
    minutes = str(int((seconds % hour)/minute))
    seconds = str(int((seconds % hour) % 60))

    if len(hours) == 1:
        hours = f"0{hours}"
    if len(minutes) == 1:
        minutes = f"0{minutes}"
    
    seconds = f"00"

    timestamp = f"{hours}:{minutes}:{seconds}"

    return timestamp

def sorted_timestamps(times_in_seconds):
    sorted_timestamps = []

    for time in times_in_seconds:
        sorted_timestamps.append(to_timestamp(time))

    return sorted_timestamps

def departure_times(df):    
    first_stop = df[df["stop_sequence"]==1]
    first_stop_times = first_stop["departure_time"].unique().tolist()
    sorted_seconds = sorting_seconds(first_stop_times)
    first_stop_times = sorted_timestamps(sorted_seconds)
    first_stop_times = ([str(x) for x in first_stop_times])
    first_stop_times = ", ".join(first_stop_times)
    return first_stop_times

### The following make further alterations to the data frame, creating nested lists

In [153]:
def coordinates(row, df, coordinate):
    all_coords = df[coordinate].unique().tolist()

    if len(all_coords) == 0:
        coord = "None"
    else:
        all_coords = ([str(x) for x in all_coords])
        coord = ", ".join(all_coords)
    return coord


def gach_ainm(row, df):
    gach_ainm = df['ainm'].tolist()
    gach_ainm = ([str(x) for x in gach_ainm])
    gach_ainm = ", ".join(gach_ainm)

    return gach_ainm



def names(row, df):
    route = df["line_id"].unique().tolist()
    all_names = df["stop_name"].tolist()
    names = ", ".join(all_names)
    return names


def stops(row, df):
    all_stops = df["stop_num"]

    if len(all_stops) == 0:
        stops = "None"
    else:
        stops = ", ".join(all_stops)
    return stops


def create_uniques_id(row):
    return row["line_id"] + "_" + row["direction"]


def modify_df(df):
    if df.empty:
        pass
    else:
        df['stops'] = df.apply(stops, df=df, axis=1)
        df['longitudes'] = df.apply(coordinates, df=df, coordinate="longitude", axis=1)
        df['latitudes'] = df.apply(coordinates, df=df, coordinate="latitude", axis=1)
        df['names'] = df.apply(names, df=df, axis=1)
        df['gach_ainm'] = df.apply(gach_ainm, df=df, axis=1)
        df['id'] = df.apply(create_uniques_id, axis=1)
        
        
    df = df.drop(["stop_num", "latitude", "longitude", 
                  "stop_name", "ainm", "stop_sequence", 
                  "departure_time", "arrival_time", "stop_id"], axis=1)
    return df


def make_string(row):
    return int(row["stop_sequence"])

def sort_by_sequence(df):
    df['sort'] = df.apply(make_string, axis=1)
    df.sort_values('sort',inplace=True, ascending=True)
    df = df.drop('sort', axis=1)
    
    return df

### We need to go over every line_id and get the longest shape associated with each

In [154]:
for line in line_list:
    temp_df = merged_df[merged_df["line_id"]==line]
    shapes = temp_df["shape_id"].unique().tolist()
    
    # iterate over each of the shapes and split into outbound and inbound
    inbound_shapes = []
    outbound_shapes = []

    for shape in shapes:
        direction = shape.split('.')[2]
        if direction == "O":
            outbound_shapes.append(shape)
        if direction == "I":
            inbound_shapes.append(shape)
            
    # get the longest inbound and longest outbound
    longest_outbound = ""
    longest_length_outbound = 0
    for shape in outbound_shapes:
        temp = merged_df[merged_df["shape_id"]==shape]
        if temp.shape[0] > longest_length_outbound:
            longest_length_outbound = temp.shape[0]
            longest_outbound = shape

    longest_inbound = ""
    longest_length_inbound = 0
    for shape in inbound_shapes:
        temp = merged_df[merged_df["shape_id"]==shape]
        if temp.shape[0] > longest_length_inbound:
            longest_length_inbound = temp.shape[0]
            longest_inbound = shape
    
    longest_outbound = merged_df[merged_df["shape_id"]==longest_outbound]
    longest_inbound = merged_df[merged_df["shape_id"]==longest_inbound]

    longest_outbound["first_departure_schedule"] = departure_times(longest_outbound) 
    longest_inbound["first_departure_schedule"] = departure_times(longest_inbound)
    
    longest_outbound = longest_outbound.drop_duplicates(subset=['stop_sequence'], keep='first')
    longest_inbound = longest_inbound.drop_duplicates(subset=['stop_sequence'], keep='first')

    if not longest_outbound.empty:
        longest_outbound = sort_by_sequence(longest_outbound)
    if not longest_inbound.empty:
        longest_inbound = sort_by_sequence(longest_inbound)
    
    longest_outbound = longest_outbound.drop(["shape_id", "trip_id"], axis=1)
    longest_inbound = longest_inbound.drop(["shape_id", "trip_id"], axis=1)
 
    longest_inbound = modify_df(longest_inbound)
    longest_outbound = modify_df(longest_outbound)
    
    final_df = final_df.append(longest_inbound)
    final_df = final_df.append(longest_outbound)

In [155]:
final_df = final_df.drop_duplicates(subset=["id"], keep='first')

In [156]:
final_df.head(5)

,destination,first_departure_schedule,stops,longitudes,latitudes,names,id,gach_ainm,line_id,direction
49962,Shanard Road,"06:30:00, 06:42:00, 06:54:00, 07:00:00, 07:06:...","381, 7740, 7741, 387, 388, 389, 393, 371, 391,...","-6.21237419337661, -6.21472966508216, -6.21498...","53.3243237661094, 53.3268757414366, 53.3292794...","St John's Church, Park Avenue, Gilford Road, S...",1_inbound,"Séipeál Eoin, nan, nan, Dumhach Thrá, Páirc Fh...",1,inbound
0,Sandymount,"06:30:00, 06:42:00, 06:54:00, 07:00:00, 07:06:...","226, 228, 229, 227, 230, 231, 1641, 1642, 213,...","-6.26220046436849, -6.25971957291393, -6.25653...","53.391140564198, 53.3918773927815, 53.39139951...","Shanard Avenue, Shanliss Road, Oldtown Road, S...",1_outbound,"Ascail Sheanaird, Br an tSeanleasa, Br an tSea...",1,outbound
1046074,Dublin Airport,"05:30:00, 05:45:00, 06:00:00, 06:15:00, 06:30:...","5171, 2976, 2977, 2978, 2979, 2980, 2981, 2991...","-6.24826056513117, -6.2554595122767, -6.260210...","53.2717359437923, 53.2720572242554, 53.2735737...","Kingston, Grange Hall, Pine Valley, Grange Roa...",16_inbound,"Baile an Rí, Halla na Gráinsí, Gleann na Giúis...",16,inbound
1013778,Ballinteer,"06:00:00, 06:15:00, 06:30:00, 06:45:00, 07:00:...","7347, 3669, 7349, 1631, 1632, 5053, 1633, 1634...","-6.24202072636356, -6.23507978936044, -6.23471...","53.428019654753, 53.4284655392397, 53.42527838...","Zone 15, Maldron Hotel, Radisson Hotel, ALSAA ...",16_outbound,"Aerfort BÁC C 1, Óstán an Maldron, Óstán an Ra...",16,outbound
1014229,Ballinteer,"07:10:00, 07:50:00, 08:30:00","7347, 3669, 7349, 1631, 1632, 5053, 1633, 1634...","-6.24202072636356, -6.23507978936044, -6.23471...","53.428019654753, 53.4284655392397, 53.42527838...","Zone 15, Maldron Hotel, Radisson Hotel, ALSAA ...",16D_outbound,"Aerfort BÁC C 1, Óstán an Maldron, Óstán an Ra...",16D,outbound

In [157]:
#merged_df

In [161]:
in37 = final_df[final_df["id"]=="44_inbound"]
names37 = in37["names"].tolist()[0]
names37 = names37.split(", ")
print(names37)
len(names37)

['Enniskerry Village', 'Enniskerry Village', 'Enniskerry Road', 'St. Mary’s Church', 'Environmental Centre', 'Ashridge Green', 'Monastery House', 'Bramble Hill', 'Killegar House', 'The Scalp Wood', 'Ski Club of Ireland', 'Grange Growers', 'Kiltiernan Village', 'Golden Ball', 'Kilternan NS', 'Kilternan Church', 'Palmerston FC', 'Cairnfort', 'Stepaside Lane', 'Kilgobbin Heights', 'Castle Lodge', 'Ballyogan Road', 'Sandyford Hall', 'Kilgobbin Heights', 'Bearna Park', "St Mary's Church", 'Greenlands', 'Central Bank', 'Clonard Road', 'Ballawley Park', 'Balally Road', 'Balally Drive', 'Dundrum Centre', 'Holy Cross Church', 'Dundrum Luas', 'Rosemount Estate', 'Frankfort', 'Dundrum Hospital', 'Dundrum Business Pk', 'Millmount Terrace', "Luke's Crescent", 'Alexandra College', 'Glenmalure Square', 'Garrynure', 'Norwood Park', 'Hollybank Ave Lower', 'Merton Drive', 'Ranelagh', 'Ranelagh Luas', 'Ranelagh Road', 'Northbrook Road', 'Charlemont Street', 'Harcourt Luas', 'Earlsfort Terrace', 'Dawson Street', 'Pearse Station', 'Shaw Street', 'Westmoreland Street', "O'Connell St Upper", 'Parnell Square West', 'Upper Dorset Street', 'Dorset Street Lower', 'Innisfallen Parade', 'Drumcondra Rail Stn', 'Dargle Road', 'Botanic Avenue', "DCU St Patrick's", 'DCU St Patrick’s', 'Wellpark Avenue', 'Whitehall College', 'Highfield Hospital', 'Iveragh Road', 'Collins Avenue West', 'Larkhill Road', 'Glendun Road', 'Larkhill Road', 'Crestfield Road', "St Aidan's School", 'DCU Helix']

79

In [110]:
line37 = merged_df[merged_df["line_id"]=="37"]
inbound37 = line37[line37["direction"]=="inbound"]
inbound37 = sort_by_sequence(inbound37.drop_duplicates(subset=["stop_sequence"],  keep="first"))
print(inbound37.shape)
inbound37

(60, 14)

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,destination,stop_name,latitude,longitude,ainm,shape_id,line_id,direction,stop_num
1295203,10574.y1009.60-37-d12-1.38.I,23:30:00,23:30:00,8240DB004747,1,Bachelor's Walk,Blanchardstown SC,53.394333,-6.391852,IS Bhaile Bhlainséir,60-37-d12-1.38.I,37,inbound,4747
1302203,4207.y1003.60-37-b12-1.41.I,07:30:55,07:30:55,8240DB001688,2,Wilton Terrace,Oak Lawns,53.376209,-6.364414,Plásóga na Darach,60-37-b12-1.41.I,37,inbound,1688
1296255,10574.y1009.60-37-d12-1.38.I,23:31:55,23:31:55,8240DB001882,3,Bachelor's Walk,Millennium Park,53.392773,-6.398813,Páirc na Mílaoise,60-37-d12-1.38.I,37,inbound,1882
1296737,10574.y1009.60-37-d12-1.38.I,23:32:30,23:32:30,8240DB007379,4,Bachelor's Walk,Mountview Road,53.389748,-6.400505,Radharc an Chnocáin,60-37-d12-1.38.I,37,inbound,7379
1297219,10574.y1009.60-37-d12-1.38.I,23:33:05,23:33:05,8240DB004903,5,Bachelor's Walk,Lohunda Road,53.386664,-6.401733,Bóthar Lohunda,60-37-d12-1.38.I,37,inbound,4903
1297701,10574.y1009.60-37-d12-1.38.I,23:33:33,23:33:33,8240DB007219,6,Bachelor's Walk,Limelawn,53.384251,-6.402741,Motor Park,60-37-d12-1.38.I,37,inbound,7219
1297963,10574.y1009.60-37-d12-1.38.I,23:34:07,23:34:07,8240DB007218,7,Bachelor's Walk,The Courtyard,53.381638,-6.402974,An Clós Cúirte,60-37-d12-1.38.I,37,inbound,7218
1298225,10574.y1009.60-37-d12-1.38.I,23:36:06,23:36:06,8240DB007031,8,Bachelor's Walk,Diswellstown Road,53.374204,-6.401554,Baile an Diosualaigh,60-37-d12-1.38.I,37,inbound,7031
1298487,10574.y1009.60-37-d12-1.38.I,23:36:37,23:36:37,8240DB004897,9,Bachelor's Walk,Luttrellstown Court,53.372157,-6.398354,Cúirt Bhaile Lotrail,60-37-d12-1.38.I,37,inbound,4897
1298749,10574.y1009.60-37-d12-1.38.I,23:37:20,23:37:20,8240DB004898,10,Bachelor's Walk,Castleknock College,53.370276,-6.392789,Col Chaisleán Cnucha,60-37-d12-1.38.I,37,inbound,4898
1299011,10574.y1009.60-37-d12-1.38.I,23:38:01,23:38:01,8240DB004574,11,Bachelor's Walk,Burnell Park Avenue,53.370453,-6.387943,Asc Pháirc Bhuirnéil,60-37-d12-1.38.I,37,inbound,4574
1299273,10574.y1009.60-37-d12-1.38.I,23:38:28,23:38:28,8240DB004575,12,Bachelor's Walk,Carpenterstown Road,53.372664,-6.388626,Cairpintéaraigh,60-37-d12-1.38.I,37,inbound,4575
1299535,10574.y1009.60-37-d12-1.38.I,23:39:23,23:39:23,8240DB001680,13,Bachelor's Walk,Bramley Walk,53.375537,-6.388999,Siúlán Bhramlaí,60-37-d12-1.38.I,37,inbound,1680
281105,4207.y1003.60-37-b12-1.41.I,07:38:53,07:38:53,8220DB001700,14,Wilton Terrace,Baggot Road,53.367709,-6.317403,Bóthar Bhagóid,60-37-b12-1.41.I,37,inbound,1700
282993,4207.y1003.60-37-b12-1.41.I,07:39:31,07:39:31,8220DB001701,15,Wilton Terrace,Our Lady's Church,53.366567,-6.312940,Séipéal Mhuire,60-37-b12-1.41.I,37,inbound,1701
284880,4207.y1003.60-37-b12-1.41.I,07:39:58,07:39:58,8220DB001702,16,Wilton Terrace,Navan Road Church,53.365611,-6.310138,Séip Bhr na hUaimhe,60-37-b12-1.41.I,37,inbound,1702
1300583,10574.y1009.60-37-d12-1.38.I,23:40:56,23:40:56,8240DB001684,17,Bachelor's Walk,Oaktree Avenue,53.377629,-6.379556,Ascaill na Darach,60-37-d12-1.38.I,37,inbound,1684
1300845,10574.y1009.60-37-d12-1.38.I,23:41:36,23:41:36,8240DB001685,18,Bachelor's Walk,Castleknock Vale,53.378067,-6.375435,Gln Chaisléan Cnucha,60-37-d12-1.38.I,37,inbound,1685
1301107,10574.y1009.60-37-d12-1.38.I,23:41:58,23:41:58,8240DB001686,19,Bachelor's Walk,Parklands,53.378810,-6.372551,Fearann na Páirce,60-37-d12-1.38.I,37,inbound,1686
1301369,10574.y1009.60-37-d12-1.38.I,23:42:44,23:42:44,8240DB001687,20,Bachelor's Walk,Ashleigh Green,53.379589,-6.367712,Faiche Ashleigh,60-37-d12-1.38.I,37,inbound,1687
1301838,10574.y1009.60-37-d12-1.38.I,23:43:25,23:43:25,8240DB001688,21,Bachelor's Walk,Oak Lawns,53.376209,-6.364414,Plásóga na Darach,60-37-d12-1.38.I,37,inbound,1688
1302307,10574.y1009.60-37-d12-1.38.I,23:44:21,23:44:21,8240DB001689,22,Bachelor's Walk,Castleknock,53.372698,-6.361407,Caisleán Cnucha,60-37-d12-1.38.I,37,inbound,1689
1302776,10574.y1009.60-37-d12-1.38.I,23:44:57,23:44:57,8240DB001690,23,Bachelor's Walk,Peck's Lane,53.371566,-6.356867,Lána Peck,60-37-d12-1.38.I,37,inbound,1690
1303039,10574.y1009.60-37-d12-1.38.I,23:45:38,23:45:38,8240DB001691,24,Bachelor's Walk,Deerpark Road,53.370610,-6.351388,Br Phc na bhFianna,60-37-d12-1.38.I,37,inbound,1691
1303302,10574.y1009.60-37-d12-1.38.I,23:46:07,23:46:07,8240DB001692,25,Bachelor's Walk,Park View,53.369967,-6.347762,Radharc na Páirce,60-37-d12-1.38.I,37,inbound,1692
1303565,10574.y1009.60-37-d12-1.38.I,23:46:29,23:46:29,8240DB001693,26,Bachelor's Walk,Castleknock Gate,53.370462,-6.343985,Geata Chais Cnucha,60-37-d12-1.38.I,37,inbound,1693
1303828,10574.y1009.60-37-d12-1.38.I,23:46:54,23:46:54,8220DB001694,27,Bachelor's Walk,Old Race Course,53.371017,-6.339936,Sean-Ráschúrsa,60-37-d12-1.38.I,37,inbound,1694
1304091,10574.y1009.60-37-d12-1.38.I,23:47:30,23:47:30,8220DB001695,28,Bachelor's Walk,Ashtown Gate,53.371010,-6.334256,Gta Bhaile an Ásaigh,60-37-d12-1.38.I,37,inbound,1695
1304354,10574.y1009.60-37-d12-1.38.I,23:48:16,23:48:16,8220DB001696,29,Bachelor's Walk,Ashtown Roundabout,53.371542,-6.329831,Tim Bhaile an Ásaigh,60-37-d12-1.38.I,37,inbound,1696
1305947,10574.y1009.60-37-d12-1.38.I,23:48:28,23:48:28,8220DB001697,30,Bachelor's Walk,Kempton,53.370801,-6.327666,Kempton,60-37-d12-1.38.I,37,inbound,1697
744665,4207.y1003.60-37-b12-1.41.I,07:52:10,07:52:10,8220DB007453,31,Wilton Terrace,Arran Quay,53.346336,-6.278383,Cé Árann,60-37-b12-1.41.I,37,inbound,7453
748011,4207.y1003.60-37-b12-1.41.I,07:53:56,07:53:56,8220DB001478,32,Wilton Terrace,Four Courts,53.345646,-6.272943,Ceithre Cúirteanna,60-37-b12-1.41.I,37,inbound,1478
280030,10574.y1009.60-37-d12-1.38.I,23:49:33,23:49:33,8220DB001700,33,Bachelor's Walk,Baggot Road,53.367709,-6.317403,Bóthar Bhagóid,60-37-d12-1.38.I,37,inbound,1700
281919,10574.y1009.60-37-d12-1.38.I,23:49:57,23:49:57,8220DB001701,34,Bachelor's Walk,Our Lady's Church,53.366567,-6.312940,Séipéal Mhuire,60-37-d12-1.38.I,37,inbound,1701
283806,10574.y1009.60-37-d12-1.38.I,23:50:14,23:50:14,8220DB001702,35,Bachelor's Walk,Navan Road Church,53.365611,-6.310138,Séip Bhr na hUaimhe,60-37-d12-1.38.I,37,inbound,1702
1310720,10574.y1009.60-37-d12-1.38.I,23:50:37,23:50:37,8220DB001703,36,Bachelor's Walk,Cabra Garda Station,53.364735,-6.307348,SG na Cabraí,60-37-d12-1.38.I,37,inbound,1703
108343,4207.y1003.60-37-b12-1.41.I,08:02:39,08:02:39,8220DB000404,37,Wilton Terrace,Nassau Street,53.342663,-6.256348,Sráid Nassau,60-37-b12-1.41.I,37,inbound,404
111091,4207.y1003.60-37-b12-1.41.I,08:04:07,08:04:07,8220DB000747,38,Wilton Terrace,Kildare Street,53.339931,-6.255724,Sráid Chill Dara,60-37-b12-1.41.I,37,inbound,747
1312837,10574.y1009.60-37-d12-1.38.I,23:52:24,23:52:24,8220DB001706,39,Bachelor's Walk,Blackhorse Avenue,53.360070,-6.307292,Asc an Chiardhuibh,60-37-d12-1.38.I,37,inbound,1706
114970,4207.y1003.60-37-b12-1.41.I,08:06:57,08:06:57,8220DB000845,40,Wilton Terrace,Leeson St Lower,53.335453,-6.256252,Sráid Líosain Íocht,60-37-b12-1.41.I,37,inbound,845
116717,4207.y1003.60-37-b12-1.41.I,08:07:56,08:07:56,8220DB000846,41,Wilton Terrace,Fitzwilliam Place,53.333454,-6.254111,Plás Mhic Liam,60-37-b12-1.41.I,37,inbound,846
1313626,10574.y1009.60-37-d12-1.38.I,23:53:48,23:53:48,8220DB001709,42,Bachelor's Walk,Glenbeigh Avenue,53.356868,-6.297053,Asc Ghleann Beithe,60-37-d12-1.38.I,37,inbound,1709
1313889,10574.y1009.60-37-d12-1.38.I,23:54:18,23:54:18,8220DB001528,43,Bachelor's Walk,St David's Terrace,53.356195,-6.294000,Ardán San Dáibhí,60-37-d12-1.38.I,37,inbound,1528
1314152,10574.y1009.60-37-d12-1.38.I,23:54:41,23:54:41,8220DB001710,44,Bachelor's Walk,Aughrim Street,53.355570,-6.291741,Sráid Eachroma,60-37-d12-1.38.I,37,inbound,1710
1314415,10574.y1009.60-37-d12-1.38.I,23:55:06,23:55:06,8220DB001711,45,Bachelor's Walk,Holy Family Church,53.354578,-6.289633,An Teaghlaigh Naofa,60-37-d12-1.38.I,37,inbound,1711
1314678,10574.y1009.60-37-d12-1.38.I,23:55:42,23:55:42,8220DB001712,46,Bachelor's Walk,Aughrim Court,53.353334,-6.286243,Sráid Eachroma,60-37-d12-1.38.I,37,inbound,1712
1314941,10574.y1009.60-37-d12-1.38.I,23:56:18,23:56:18,8220DB001713,47,Bachelor's Walk,Manor Street,53.351908,-6.283325,Sráid an Mhainéir,60-37-d12-1.38.I,37,inbound,1713
1316122,10574.y1009.60-37-d12-1.38.I,23:56:44,23:56:44,8220DB001714,48,Bachelor's Walk,Stoneybatter,53.350638,-6.281889,Bóthar na gCloch,60-37-d12-1.38.I,37,inbound,1714
1317301,10574.y1009.60-37-d12-1.38.I,23:57:35,23:57:35,8220DB001715,49,Bachelor's Walk,Blackhall Place,53.347712,-6.282187,Plás Blackhall,60-37-d12-1.38.I,37,inbound,1715
742849,10574.y1009.60-37-d12-1.38.I,23:58:34,23:58:34,8220DB007453,50,Bachelor's Walk,Arran Quay,53.346336,-6.278383,Cé Árann,60-37-d12-1.38.I,37,inbound,7453
746220,10574.y1009.60-37-d12-1.38.I,23:59:42,23:59:42,8220DB001478,51,Bachelor's Walk,Four Courts,53.345646,-6.272943,Ceithre Cúirteanna,60-37-d12-1.38.I,37,inbound,1478
749674,10574.y1009.60-37-d12-1.38.I,24:00:30,24:00:30,8220DB001479,52,Bachelor's Walk,Ormond Quay Upper,53.345916,-6.269237,Cé Urmhumhan Uacht,60-37-d12-1.38.I,37,inbound,1479
1098421,10574.y1009.60-37-d12-1.38.I,24:02:05,24:02:05,8220DB000315,53,Bachelor's Walk,Bachelors Walk,53.347097,-6.261469,Siúlán Bhaitsiléir,60-37-d12-1.38.I,37,inbound,315
1318482,10574.y1009.60-37-d12-1.38.I,24:02:26,24:02:26,8220DB000313,54,Bachelor's Walk,Bachelors Walk,53.346907,-6.261972,Siúlán Bhaitsiléir,60-37-d12-1.38.I,37,inbound,313
107341,7069.y1009.60-37-d12-1.40.I,07:40:32,07:40:32,8220DB000404,56,Wilton Terrace,Nassau Street,53.342663,-6.256348,Sráid Nassau,60-37-d12-1.40.I,37,inbound,404
109448,7069.y1009.60-37-d12-1.40.I,07:41:46,07:41:46,8220DB000747,57,Wilton Terrace,Kildare Street,53.339931,-6.255724,Sráid Chill Dara,60-37-d12-1.40.I,37,inbound,747
1340725,7069.y1009.60-37-d12-1.40.I,07:42:52,07:42:52,8220DB000843,58,Wilton Terrace,Stephen's Green East,53.337002,-6.256459,Fche Stiabhna Thoir,60-37-d12-1.40.I,37,inbound,843
113976,7069.y1009.60-37-d12-1.40.I,07:43:29,07:43:29,8220DB000845,59,Wilton Terrace,Leeson St Lower,53.335453,-6.256252,Sráid Líosain Íocht,60-37-d12-1.40.I,37,inbound,845
115717,7069.y1009.60-37-d12-1.40.I,07:44:19,07:44:19,8220DB000846,60,Wilton Terrace,Fitzwilliam Place,53.333454,-6.254111,Plás Mhic Liam,60-37-d12-1.40.I,37,inbound,846
1318625,7069.y1009.60-37-d12-1.40.I,07:46:22,07:46:22,8220DB007340,61,Wilton Terrace,Wilton Terrace,53.334256,-6.246300,Ardán Wilton,60-37-d12-1.40.I,37,inbound,7340

In [97]:
for shape in inbound_shapes:
    temp = merged_df[merged_df["shape_id"]==shape]
    temp_trips = temp["trip_id"].unique().tolist()
    
    print(shape, "; ", len(temp_trips))

60-84A-d12-1.340.I ;  6
60-84A-d12-1.341.I ;  3
60-84A-b12-1.341.I ;  6
60-84A-b12-1.342.I ;  3

In [45]:
x = merged_df[merged_df["shape_id"]=="60-37-d12-1.40.I"]
count = 0
for stop in x["stop_name"].unique().tolist():
    print(stop)
    count += 1
    print(count)

Nassau Street
1
Kildare Street
2
Leeson St Lower
3
Fitzwilliam Place
4
Baggot Road
5
Our Lady's Church
6
Navan Road Church
7
Arran Quay
8
Four Courts
9
Ormond Quay Upper
10
Bachelors Walk
11
Blanchardstown SC
12
Millennium Park
13
Mountview Road
14
Lohunda Road
15
Limelawn
16
The Courtyard
17
Diswellstown Road
18
Luttrellstown Court
19
Castleknock College
20
Burnell Park Avenue
21
Carpenterstown Road
22
Bramley Walk
23
Sycamore Drive
24
Oaktree Green
25
Maple Glen
26
Oaktree Avenue
27
Castleknock Vale
28
Parklands
29
Ashleigh Green
30
Oak Lawns
31
Castleknock
32
Peck's Lane
33
Deerpark Road
34
Park View
35
Castleknock Gate
36
Old Race Course
37
Ashtown Gate
38
Ashtown Roundabout
39
Kempton
40
Ashtown Grove
41
Cabra Garda Station
42
Skreen Road
43
Ardpatrick Road
44
Blackhorse Avenue
45
Dunard Walk
46
Mc Kee Park
47
Glenbeigh Avenue
48
St David's Terrace
49
Aughrim Street
50
Holy Family Church
51
Aughrim Court
52
Manor Street
53
Stoneybatter
54
Blackhall Place
55
Wilton Terrace
56
Stephen's Green East
57

In [24]:
# function to create id column values
def create_id(row):
    return row["shape_id"] + "_" + row["stop_num"]

In [25]:
#merged_df["id"] = merged_df.apply(create_id, axis=1)

In [26]:
# merged_df = merged_df.drop(["arrival_time", "departure_time", "trip_id"], axis=1)
# merged_df

,stop_id,stop_sequence,destination,stop_name,latitude,longitude,ainm,shape_id,line_id,direction,stop_num,id
0,8240DB000226,1,Sandymount,Shanard Avenue,53.391141,-6.262200,Ascail Sheanaird,60-1-d12-1.1.O,1,outbound,226,60-1-d12-1.1.O_226
1,8240DB000226,1,Sandymount,Shanard Avenue,53.391141,-6.262200,Ascail Sheanaird,60-1-d12-1.1.O,1,outbound,226,60-1-d12-1.1.O_226
2,8240DB000226,1,Sandymount,Shanard Avenue,53.391141,-6.262200,Ascail Sheanaird,60-1-d12-1.1.O,1,outbound,226,60-1-d12-1.1.O_226
3,8240DB000226,1,Sandymount,Shanard Avenue,53.391141,-6.262200,Ascail Sheanaird,60-1-d12-1.1.O,1,outbound,226,60-1-d12-1.1.O_226
4,8240DB000226,1,Sandymount,Shanard Avenue,53.391141,-6.262200,Ascail Sheanaird,60-1-d12-1.1.O,1,outbound,226,60-1-d12-1.1.O_226
...,...,...,...,...,...,...,...,...,...,...,...,...
1874914,8230DB002358,38,Poolbeg St,Killinarden,53.280704,-6.389614,Cill an Ardáin,60-65-b12-1.263.I,65,inbound,2358,60-65-b12-1.263.I_2358
1874915,8230DB002358,38,Poolbeg St,Killinarden,53.280704,-6.389614,Cill an Ardáin,60-65-b12-1.263.I,65,inbound,2358,60-65-b12-1.263.I_2358
1874916,8230DB002358,38,Poolbeg St,Killinarden,53.280704,-6.389614,Cill an Ardáin,60-65-b12-1.263.I,65,inbound,2358,60-65-b12-1.263.I_2358
1874917,8230DB002358,38,Poolbeg St,Killinarden,53.280704,-6.389614,Cill an Ardáin,60-65-b12-1.263.I,65,inbound,2358,60-65-b12-1.263.I_2358
1874918,8230DB002358,38,Poolbeg St,Killinarden,53.280704,-6.389614,Cill an Ardáin,60-65-b12-1.263.I,65,inbound,2358,60-65-b12-1.263.I_2358

In [27]:
# unique_stops = merged_df.drop_duplicates(subset=['stop_num'], keep='first')
# unique_stops = unique_stops[["stop_id",
#                              "latitude",
#                              "longitude",
#                              "stop_name",
#                              "ainm",
#                              "stop_num"]].sort_values(by='stop_id')

# unique_stops

,stop_id,latitude,longitude,stop_name,ainm,stop_num
1341704,8220DB000002,53.352244,-6.263723,Parnell Square West,Cg Parnell Thiar,2
246570,8220DB000003,53.352309,-6.263811,Parnell Square West,Cg Parnell Thiar,3
1743370,8220DB000004,53.352575,-6.264175,Parnell Square West,Cg Parnell Thiar,4
977134,8220DB000006,53.352749,-6.264454,Parnell Square West,Cg Parnell Thiar,6
461243,8220DB000007,53.352841,-6.264570,Parnell Square West,Cg Parnell Thiar,7
...,...,...,...,...,...,...
1828114,8350DB007461,53.128932,-6.062803,Charlesland,Acra na mBodach,7461
1828094,8350DB007462,53.128801,-6.062480,Charlesland,Acra na mBodach,7462
787366,8350DB007574,53.182348,-6.130064,Southern Cross,Cros an Deiscirt,7574
1562888,8350DB007823,53.194198,-6.170184,Enniskerry Village,None,7823
1563082,8530DB007824,53.192558,-6.171137,Enniskerry Village,None,7824